<%- include('./layout/Header.ejs') %>
<%- include('./layout/Navbar.ejs') %>

<div class="add-container">

    <% if (loggedIn) { %>

        <div class="top-container">
            <div class="info">
    
                <h3 class="afspadserings-timer">Afspadserings timer</h3>
        
                <%
                    let totalHoursUsed = 0;
                    let totalMinutesUsed = 0;

                    usedTime.forEach(data => {
                        [hours, minutes] = data.usedTime.split(":");
                        totalHoursUsed += Number(hours);
                        totalMinutesUsed += Number(minutes);
                    })
                    totalHoursUsed += Math.floor(totalMinutesUsed / 60);
                    totalMinutesUsed = totalMinutesUsed % 60;

                    var duration = moment.duration();
        
                    data.forEach((diary) => {
                        duration += moment.duration(moment(diary.endDate).diff(moment(diary.startDate)));
                    })
                    duration = moment.duration(duration);

                    let hoursEarned = Math.floor(duration.asHours());
                    let minutesEarned = duration.minutes();
                    // let daysEarned = duration.days().toString();
                    // hoursEarned += daysEarned * 24;

                    let hoursLeft = hoursEarned - totalHoursUsed;
                    let minutesLeft = minutesEarned - totalMinutesUsed;
                    if (minutesLeft < 0) {
                        hoursLeft -= 1;
                        minutesLeft = 60 + minutesLeft;
                    }
                %> 
                <p>Timer opsparet: <span><%= `${hoursEarned} timer og ${minutesEarned.toString().padStart(2, '0')} minutter` %></span></p>
                <p>Timer brugt: <span><%= `${totalHoursUsed} timer og ${totalMinutesUsed.toString().padStart(2, '0')} minutter` %></span></p>
                <p>Timer tilbage: <span><%= `${hoursLeft} timer og ${minutesLeft.toString().padStart(2, '0')} minutter` %></span></p>
        
            </div>
        
            <div class="add-or-remove">
                <div class="add">
                    <p>Tilføj timer til afspadsering</p>
                    <a href="/add">Tilføj</a>
                </div>
            
                <div class="use-afspadsering add">
                    <p>Træk timer fra afspadsering</p>
                    <a href="/use">Træk fra</a>
                </div>
            </div>
        </div>
    
        <div class="diary">
            <% data.forEach((diary) => {%>
                <div class="diary-container">
                    <h3><%= diary.title %></h3>
                    <p>
                        Start: <%= moment(diary.startDate).format() %><br>
                        Slut: <%= moment(diary.endDate).format() %>
                    </p><br>
                    <% var duration = moment.duration(moment(diary.endDate).diff(moment(diary.startDate))) %> 
                    <p>Tid: <%= duration.hours().toString().padStart(2, "0").concat(":", (duration.minutes() % 60).toString().padStart(2, "0")) %></p>
                    <a href="/diary/<%= diary.id %>">Læs mere</a>
                </div>
            <%}) %>
        </div>

    <% }else { %>
        <div class="showcase">
            <h1>Du er ikke <span class="green-text">logget ind<span></h1>
        </div>
    <% } %>

</div>

<%- include('./layout/Footer.ejs') %> 