<%- include('./layout/Header.ejs') %>
<%- include('./layout/Navbar.ejs') %>

<div class="add-container">

    <% if (loggedIn) { %>

        <div class="top-container">
            <div class="info">
    
                <h3 class="afspadserings-timer">Afspadserings timer</h3>
        
                <%
                    var duration = moment.duration();
        
                    data.forEach((diary) => {
                        duration += moment.duration(moment(diary.endDate).diff(moment(diary.startDate)));
                    })
                    duration = moment.duration(duration);
                %> 
                <p>Timer opsparet: <span><%= duration.hours().toString() + " timer og " + (duration.minutes() % 60).toString() + " minutter" %></span></p>
                
                <%
                    var allTimesString;
                    var allHours = 0;
                    var allMinutes = 0;
                    var addToHours = 0;
        
        
                    usedTime.forEach((time) => {
                        var allTimes = time.usedTime;
                        var [hours, minutes] = allTimes.split(':');
        
                        hours = parseInt(hours);
                        minutes = parseInt(minutes);
        
                        allHours += hours;
                        allMinutes += minutes;
        
                        if (allMinutes / 60 >= 1) {
                            addToHours += Math.floor(allMinutes / 60);
                            allHours += addToHours;
                            allMinutes = allMinutes % 60;
                        }
                    })
                    var hoursLeft = duration.hours() - allHours;
                    var minutesLeft = duration.minutes() - allMinutes;
                    if (minutesLeft < 0) {
                        hoursLeft -= 1;
                        minutesLeft = 60 + minutesLeft;
                    }
                    hoursLeft = hoursLeft.toString();
                    minutesLeft = minutesLeft.toString();
                    allMinutes = allMinutes.toString();
                    allHours = allHours.toString();
                    allTimesString = allHours + ' timer og ' + allMinutes + " minutter";
                %>
        
                <p>Timer brugt: <span><%= allTimesString %></span></p>
        
                <p>Timer tilbage: <span><%= hoursLeft + " timer og " + minutesLeft + " minutter" %></span></p>
        
            </div>
        
            <div class="add-or-remove">
                <div class="add">
                    <p>Tilføj timer til afspadsering</p>
                    <a href="/add">Tilføj</a>
                </div>
            
                <div class="use-afspadsering add">
                    <p>Træk timer fra afspadsering</p>
                    <a href="/use">Træk fra</a>
                </div>
            </div>
        </div>
    
        <div class="diary">
            <% data.forEach((diary) => {%>
                <div class="diary-container">
                    <h3><%= diary.title %></h3>
                    <p>
                        Start: <%= moment(diary.startDate).format() %><br>
                        Slut: <%= moment(diary.endDate).format() %>
                    </p><br>
                    <% var duration = moment.duration(moment(diary.endDate).diff(moment(diary.startDate))) %> 
                    <p>Tid: <%= duration.hours().toString().padStart(2, "0").concat(":", (duration.minutes() % 60).toString().padStart(2, "0")) %></p>
                    <a href="/diary/<%= diary.id %>">Læs mere</a>
                </div>
            <%}) %>
        </div>

    <% }else { %>
        <div class="showcase">
            <h1>Du er ikke <span class="green-text">logget ind<span></h1>
        </div>
    <% } %>

</div>

<%- include('./layout/Footer.ejs') %> 